/******************************************************************************
 * Navbar
 ******************************************************************************/
 /////////////////////////////////////////////////////////////
/// Header
.tl-header {
    width: 100%;
    position: fixed;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);

    &.tl-header-not-top {
        box-shadow: 0 -1px 4px rgba(0,0,0, .20);  
    }
}

/////////////////////////////////////////////////////////////
/// Nav
.tl-nav{
    max-width: 968px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);

    .tl-nav-title {
        color: var(--first-color-alt);
        font-weight: var(--font-medium);
    }

    .tl-nav-button-toggle {
        color: var(--title-color);
        font-weight: var(--font-medium);

        &:hover {
            color: var(--first-color);
        }
    }

    .tl-nav-menu {
        margin-left: auto;
        .tl-nav-menu-item-list{
            grid-template-columns: repeat(3,1fr);
            gap: 2rem;
        
            .tl-nav-menu-item{
                align-items: center;

                .tl-nav-menu-item-link {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: var(--small-font-size);
                    color: var(--title-color);
                    font-weight: var(--font-medium);
                    cursor: pointer;
                    text-transform: capitalize;
                
                    &:hover{
                        color: var(--first-color-alt);
                    }
            
                    &.tl-nav-menu-item-link-active {
                        color: var(--first-color-alt);
                    }
                
                    .tl-nav-menu-item-icon{
                        font-size: 1.2rem;
                        &:hover{
                            color: var(--first-color-alt);
                        }
                    }
                }
            }
        }
    
        .tl-nav-menu-close{
            position: absolute;
            right: 1.3rem;
            top: .5rem;
            font-size: 1.5rem;
            cursor: pointer;
            color: var(--first-color);
        }
    }

    .tl-nav-button {
        display: flex;
        align-items: center;

        .tl-nav-button-change-theme {
            font-size: 1.25rem;
            color: var(--title-color);
            margin-right: var(--mb-1);
            cursor: pointer;

            &:hover {
                color: var(--first-color-alt);
            }
        }

        .tl-nav-button-toggle {
            font-size: 1.1rem;
            cursor: pointer;
        }
    }
}

/////////////////////////////////////////////////////////////
/// Media
// <= 767px
@media screen and (max-width:767px){
    .tl-nav-menu{
        visibility: hidden;
        top: var(--header-height);
        position: fixed;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 3rem 1.5rem 3rem;
        box-shadow: 0 1px 4px rgba(0,0,0,.15);
        border-radius: 0 0 1.5rem 1.5rem;
        transform: translateY(-100%);
        transition: transform .4s;

        &.show-menu {
            visibility: visible;
            transform: translateY(0);
        }
    }
}

// >=768px
@media screen and (min-width: 768px) {
    .tl-header {
        padding: 0 1rem;

        .tl-nav {
            height: calc(var(--header-height) + 1.5rem);
            column-gap: 1rem;
    
            .tl-nav-menu-item-icon,
            .tl-nav-menu-close,
            .tl-nav-button-toggle {
                display: none;
            }
    
            .tl-nav-menu-item-list {
                display: flex;
                column-gap: 2rem;
                .tl-nav-menu-item {
                    align-content: center;
                    display: flex;
                    flex-wrap: wrap;
                }
            }
            .tl-nav-button-change-theme {
                margin: 0;
            }
        }
    }
}
