/******************************************************************************
 * Navbar
 ******************************************************************************/
/* Change background header */
.scroll-header {
    box-shadow: 0 -1px 4px rgba(0,0,0, .15);  
}



.nav{
    max-width: 968px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tl-nav-title,
    .tl-nav-toggle {
        color: var(--title-color);
        font-weight: var(--font-medium);

        &:hover {
            color: var(--first-color);
        }
    }

    

    .tl-nav-menu {
        margin-left: auto;
        .tl-nav-menu-item-list{
            grid-template-columns: repeat(3,1fr);
            gap: 2rem;
        
            .tl-nav-menu-item{
                align-items: center;
            }
        }
    
        .tl-nav-menu-close{
            position: absolute;
            right: 1.3rem;
            bottom: .5rem;
            font-size: 1.5rem;
            cursor: pointer;
            color: var(--first-color);
        }
    }

    

    /*========== Button Dark/Light ==========*/
    .tl-nav-button {
        display: flex;
        align-items: center;

        .change-theme {
            font-size: 1.25rem;
            color: var(--title-color);
            margin-right: var(--mb-1);
            cursor: pointer;

            &:hover {
                color: var(--first-color);
            }
        }

        .tl-nav-toggle {
            font-size: 1.1rem;
            cursor: pointer;
        }
  
    }


}



.tl-nav-menu-item-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    cursor: pointer;
    text-transform: capitalize;

    &:hover{
        color: var(--first-color);
    }

    .tl-nav-menu-item-icon{
        font-size: 1.2rem;
        &:hover{
            color: var(--first-color-alt);
        }
    }
}

.tl-nav-menu-item-link:hover svg{
    fill: var(--first-color);
}
.tl-nav-menu-item-icon-svg{
    fill:var(--title-color);
    font-size: 1.4rem;
    margin-top: 4px;
    margin-bottom: 2px;
}


  

  
@media screen and (max-width:767px){
    .tl-nav-menu{
      position: fixed;
      bottom: -100%;
      left: 0;
      width: 100%;
      background-color: var(--body-color);
      padding: 2rem 1.5rem 4rem;
      box-shadow: 0 -1px 4px rgba(0,0,0,.15);
      border-radius: 1.5rem 1.5rem 0 0;
      transition: .3s;
    }
}

/* show menu */
.show-menu{
    bottom: 0;
}
  
/* Active link */
.active-link {
    color: var(--first-color);
}


  /*mobile devices*/

  






@media screen and (min-width: 768px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
    }
    .tl-nav-menu-item-icon,
    .tl-nav-menu-close,
    .tl-nav-toggle {
        display: none;
    }

    .tl-nav-menu-item-list {
        display: flex;
        column-gap: 2rem;
    }

    .tl-nav-menu-item {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    }

    #translate{
    font-size: 0;
    }


    .change-theme {
        margin: 0;
    }
}

@media screen and (max-width: 350px) {
    .tl-nav-menu {
        padding: 2rem .25rem 4rem;
    }
  
    .tl-nav-menu-item-list {
        column-gap: 0;
    }
}
