/******************************************************************************
 * Qualifications
 ******************************************************************************/
.tl-qualification-content {
    margin-bottom: var(--mb-1);
    padding: auto;

    .tl-qualification-button {
        color: var(--first-color);
        font-size: var(--h2-font-size);
        font-weight: var(--font-medium);
        cursor: pointer;
        position: relative;
        transform: translateX(15%);
        margin-bottom: var(--mb-0-5);
        margin-top: var(--mb-1);

        &:hover {
            color: var(--first-color-alt);
        }

        .tl-qualification-icon {
            font-size: var(--h1-font-size);
            margin-right: var(--mb-0-5);
        }
    }

    .tl-qualification-education-timeline {
        .tl-qualification-journey {
            display: flex;
            justify-content: space-between;
        }

    }

    .tl-qualification-line {
        display: block;
        width: 1.5px;
        height: 100%;
        background-color: var(--first-color-alt);
        transform: translateX(20px);
        margin-right: 0;
        padding: 0;
    }

    .tl-qualification-calendar {
        font-size: var(--small-font-size);
        color: var(--first-color-alt);
    
        .tl-qualification-calendar-icon {
            font-size: var(--normal-font-size);
        }
    }

    .tl-qualification-card-transparent {
        background-color: var(--background-body-color);
    }
    .tl-qualification-card-mirror-face {
        border: 1px solid var(--first-color-alt-border);
        border-radius: 15px;
        font-size: 2rem;
        height: initial;
        overflow: hidden;
        position: relative;
    }
    .tl-qualification-card-shadow {
        box-shadow: 0px 5px 35px var(--light-color);
    }

    .tl-qualification-task {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        perspective: 800px;
        transform-style: preserve-3d;
    
        .tl-qualification-title {
            font-size: var(--h3-font-size);
            font-weight: var(--font-medium);
        }
      
        .tl-qualification-subtitle {
            display: inline-block;
            font-size: var(--small-font-size);
            margin-bottom: var(--mb-1);
            color: var(--text-color);
        }
    
        .tl-qualification-abstract {
            transition: 0.3s ease all;
        }
        &:hover .tl-qualification-details {
            max-height: none;
            overflow: visible;
            visibility: visible;
            transform: rotateX(0deg);
            transition: 0.3s transform ease;
        }
    
        .tl-qualification-details {
            max-height: 0;
            padding-top: var(--mb-1);
            overflow: hidden;
            visibility: hidden;
            transform: rotateX(-180deg);
            transform-origin: top center;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transition: 0.3s transform ease;
          
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 10%;
                right: 10%;
                height: 1px;
                background: var(--text-color-light);
            }
        }
    }
    .tl-qualification-start {
        display: inline-flex;
        width: 14px;
        height: 14px;
        margin-top: var(--mb-0-5);
        justify-content: flex-end;
        background-color: transparent;
        border-radius: auto;
        transform: translate(15px, 10px);
        .tl-qualification-start-icon {
            font-size: var(--h3-font-size);
            color: var(--first-color-alt);
        }
    }      
}

/////////////////////////////////////////////////////////////
/// Media
// >= 568px
@media screen and (min-width: 568px) {
    .tl-qualification-start-icon{
        position: absolute;
        transform: translateY(60%);    
    }
}

// >= 768px
@media screen and (min-width: 768px) {
    .tl-qualification-button{
        margin: 0 var(--mb-1);
    }
}
