/******************************************************************************
* Skills
******************************************************************************/
.tl-skills-card-container {
    position: relative;
    display: grid;
    width: auto;
    height: auto;
    padding-bottom: var(--mb-0-75);
    margin: auto;
    margin-bottom: var(--mb-3);
    flex: 1 0 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    &:hover{
        transform: scale(1.1);
        transition: .3s;
    }

    .tl-skills-card{
        position: relative;
        width: 6rem;
        height: 6rem;
        border-radius: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
    
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: var(--body-color);
            transition: .3s ease-in-out;
            border-radius: 15px;
            border: 1px solid var(--first-color-alt-border);
        }
        &:hover {
            cursor: pointer;

            .tl-skills-card-icon{
                transform: scale(1.45);
                color: var(--first-color-alt);
            }
            .tl-skills-card-text{
                display: flex;
                height: 100%;
                // width: 70%;
                position: relative;
                object-fit: cover;
                text-align: center;
                transform: translate(0%, -36%);
                transition: .5s;

                h2 {
                    font-size: 1.7rem;
                    color: var(--first-color-alt);
                }
            }
        }
    
        .tl-skills-card-icon{
            font-size: 5rem;
            position: absolute;
            transition: .3s;
            color: var(--title-color);
        }
    
        .tl-skills-card-text {
            display: flex;
            position: relative;
            // width: 0%;
            // height: 0%;
            // transform: scale(0.0);
            transition: 1s;

            h2 {
                font-weight: var(--font-medium);
                color: var(--title-color);
                font-size: 1rem;
            }
        }
    }
}

.tl-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.tl-skills-card-shadow{
    box-shadow: 0px 36px 60px var(--light-color);
}

// .tl-skills-container {
//     row-gap: 0;

    // .tl-skills-close .tl-skills-dropdown-list {
    //     height: 0;
    //     overflow: hidden;
    // }
    
    // .tl-skills-open .tl-skills-dropdown-list {
    //     height: max-content;
    //     margin-bottom: var(--mb-2-5);
    // }
    
    // .tl-skills-open .tl-skills-dropdown-icon {
    //     transform: rotate(-180deg);
    // }

    // .tl-skills-head {
    //     display: flex;
    //     align-items: center;
    //     margin-bottom: var(--mb-2-5);
    //     cursor: pointer;

    //     .tl-skills-icon {
    //         margin-right: var(--mb-0-75);
    //         font-size: 2rem;
    //         color: var(--first-color);
    //     }
    //     .tl-skills-title {
    //         font-size: var(--h3-font-size);
    //     }
    //     .tl-skills-subtitle {
    //         font-size: var(--small-font-size);
    //         color: var(--text-color-light);
    //     }
    //     .tl-skills-dropdown-icon {
    //         margin-left: auto;
    //         transition: .4s;
    //         font-size: 2rem;
    //         color: var(--first-color);
    //     }
    // }

    // .tl-skills-dropdown-list {
    //     row-gap: 1.5rem;
    //     padding-left: 2.7rem;
    //     transition: .4s;

    //     .tl-skills-dropdown-item-title {
    //         display: flex;
    //         justify-content: space-between;
    //         margin-bottom: var(--mb-0-5);
    //         .tl-skills-dropdown-item-name {
    //             font-size: var(--normal-font-size);
    //             font-weight: var(--font-medium);
    //         }
    //     }

    //     .tl-skills-dropdown-item-bar {
    //         background-color: var(--first-color-lighter);
    //         height: 5px;
    //         border-radius: .25rem;

    //         .tl-skills-dropdown-item-percentage {
    //             display: block;
    //             background-color: var(--first-color);
    //             height: 5px;
    //             border-radius: .25rem;
    //         }

    //         .tl-skills-dropdown-item-html {
    //             width: 60%;
    //         }
            
    //         .tl-skills-dropdown-item-css{
    //             width: 50%;
    //         }
            
    //         .tl-skills-dropdown-item-js{
    //             width: 30%;
    //         }
            
    //         .tl-skills-dropdown-item-vue{
    //             width: 10%;
    //         }
            
    //         .tl-skills-dropdown-item-java{
    //             width: 70%;
    //         }
            
    //         .tl-skills-dropdown-item-python{
    //             width: 50%;
    //         }
    //     }
    // }
// }

/////////////////////////////////////////////////////////////
/// Media
// <= 350px
@media screen and (max-width: 350px) {
    .tl-skills-title {
        font-size: var(--normal-font-size);
    }
}

// // <= 568px
// @media screen and (min-width: 568px) {
//     .skills_container {
//         grid-template-columns: repeat(2, 1fr);
//     }
// }


// .tl-skills-container {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     box-sizing: border-box;
//     text-align: center;

//     .tl-skills-card-container {
//         padding: 20px 35px;
//         flex: 1 0 13em;
//         box-sizing: border-box;
//         box-shadow: 0 0 6px rgb(0 0 0 / 15%);
//         border-radius: 10px;
//         height: fit-content;
//         display: flex;
//         align-items: center;
//         flex-direction: column;

//         .tl-skills-card{
//         }
//     }

// }


